{% extends "plantilla.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="position-absolute top-50 start-50 translate-middle" >
        <figure class="text-center">
            <blockquote class="blockquote">
                <p class="fs-1 fw-bold" style="white-space: nowrap;">Pagina Inicial del Proyecto 3 de IPC2 "N"</p>
            </blockquote>
            <figcaption class="blockquote-footer fs-10">
                Alumno <cite title="Source Title">Dominic Ruano</cite>
            </figcaption>
        </figure>
    </div>
{% endblock %}